<div class="page-container">

  <div class="page-header">
    <h2>My Utilities</h2>

    <button
      class="primary-btn"
      *ngIf="canAddUtility"
      (click)="openRequestDialog()">
      ➕ Add Utility
    </button>
  </div>

  <div *ngIf="loading">Loading...</div>

  <div class="empty-state" *ngIf="!loading && !hasUtilities">
    <p>No utilities found.</p>
    <button class="primary-btn" (click)="openRequestDialog()">
      Request Utility
    </button>
  </div>

  <div class="utilities-grid" *ngIf="!loading && hasUtilities">
    <div class="utility-card" *ngFor="let u of utilities">

      <h3>{{ u.utilityType }}</h3>

      <p><strong>Tariff:</strong> {{ u.tariffPlan }}</p>

      <p *ngIf="u.meterNumber">
        <strong>Meter No:</strong> {{ u.meterNumber }}
      </p>

      <span class="status" [ngClass]="u.status.toLowerCase()">
        {{ u.status }}
      </span>
      <p class="hint" *ngIf="u.status === 'PENDING'">
        Waiting for admin approval
      </p>

    </div>
  </div>


</div>