<h2>Profile Details</h2>
<p class="subtitle">Personal information</p>

<div *ngIf="loading">Loading...</div>

<div class="card" *ngIf="!loading">

  <button class="edit-btn" *ngIf="!editing" (click)="enableEdit()">
    Edit Profile
  </button>

  <form *ngIf="editing" (ngSubmit)="updateProfile()">

    <label>Full Name</label>
    <input [(ngModel)]="profile.fullName" name="fullName" required />

    <label>Email</label>
    <input [(ngModel)]="profile.email" name="email" required />

    <label>Mobile</label>
    <input [(ngModel)]="profile.mobileNumber" name="mobile" required />

    <label>Address</label>
    <textarea [(ngModel)]="profile.address" name="address"></textarea>

    <div class="actions">
      <button class="primary-btn" type="submit" [disabled]="saving">
        Save
      </button>
      <button class="secondary-btn" type="button" (click)="cancelEdit()">
        Cancel
      </button>
    </div>
  </form>

  <div *ngIf="!editing">
    <p><strong>Name:</strong> {{ profile.fullName }}</p>
    <p><strong>Email:</strong> {{ profile.email }}</p>
    <p><strong>Mobile:</strong> {{ profile.mobileNumber }}</p>
    <p><strong>Address:</strong> {{ profile.address }}</p>
  </div>

</div>
