<h2>My Account</h2>
<p class="subtitle">Account information (read-only)</p>

<div *ngIf="loading">Loading account details...</div>

<div *ngIf="!loading && account" class="card">

  <div class="row">
    <span class="label">User ID</span>
    <span class="value">{{ account.userId }}</span>
  </div>

  <div class="row">
    <span class="label">Email</span>
    <span class="value">{{ account.email }}</span>
  </div>
  <div class="row">
  <span class="label">Username</span>
  <span class="value">{{ account.username }}</span>
</div>

  <div class="row">
    <span class="label">Role</span>
    <span class="value badge">{{ account.role }}</span>
  </div>

</div>
